
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-yellow: #ffc100;
    --color-dark-green: #004705;
    --color-dark-green-2: #014405;
    --color-grey-1: #bdbdbd;
    --color-grey-2: #e0e0e0;
  }
}

@layer components {
  .text-yellow {
    @apply text-[--color-yellow];
  }
  .text-dark-green {
    @apply text-[--color-dark-green];
  }
  .text-dark-green-2 {
    @apply text-[--color-dark-green-2];
  }

  .bg-yellow {
    @apply bg-[--color-yellow];
  }
  .bg-dark-green {
    @apply bg-[--color-dark-green];
  }
  .bg-dark-green-2 {
    @apply bg-[--color-dark-green-2];
  }

  .border-yellow {
    @apply border-[--color-yellow];
  }
  .border-dark-green {
    @apply border-[--color-dark-green];
  }
  .border-dark-green-2 {
    @apply border-[--color-dark-green-2];
  }
}

@keyframes marquee-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-marquee-left {
  animation: marquee-left 20s linear infinite;
}
