
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .marquee {
    @apply flex overflow-hidden gap-5;
  }

  .animate-marquee-up {
    animation: marqueeUp 20s linear infinite;
  }

  @keyframes marqueeUp {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100%);
    }
  }
}
